*{
    font-size: 14px;
    color: #FFF;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    a{
        text-decoration: none;
    }
    ul,li,ol{
        list-style: none;
    }
}
body{
    padding: 0;
    margin: 0;
    .wrapper{
        .video-container{
            .background{
                min-height: 100vh;
                position: relative;
                video{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                header{
                    top: 30px;
                    position: relative;
                    margin: 0 auto;
                    border-radius: 30px;
                    padding: 25px;
                    height: 90px; 
                    width: 1050px;
                    background-color:rgb(75,129,157,0.4);

                    display: flex;
                    justify-content: center;
                    gap: 50px;
                    flex-direction: row;
                    align-items: center;
                    .header__elements{
                        gap: 30px;
                        display: flex;
                        align-items: center;
                        .header__logo{  
                            font-size: 32px;
                            font-weight: 700;
                            font-family: "Anta", sans-serif;

    
                        }
                        .header__nav{
                            .header__ul{
                                display: flex;
                                gap: 30px;
                                font-weight: 700;
                                text-transform: uppercase;
                                li{
                                    a{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        .header__btn{
                            padding: 15px 20px;
                            border: #fff 2px solid;
                            border-radius: 15px;
                            a{
                                font-weight: 700;
                                font-size: 12px;
                            }
                            &:hover{
                                background-color: #FFF;
                                transition: 0.2s ease;
                                a{
                                    color: #000;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                .hero{
                    display: flex;
                    flex-direction: column;
                    gap: 250px;
                    .text__side{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        top: 70px;
                        .pre__logo{
                            font-size: 24px;
                            font-family: "Anta", sans-serif;
                           }
                        .logo{
                            font-size: 210px;
                            font-family: "Anta", sans-serif;
                        }
                    }
                    .button{
                        position: relative;
                        text-align: center;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        .hero__button{
                            max-width: 187px;
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            padding: 18px 60px;
                            border: 2px solid #fff;
                            a{
                                text-transform: uppercase;
                                font-size: 12px;
                                font-weight: 700;
                            }
                            &:hover{
                                background-color: #fff;
                                a{
                                    color: #000;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
        section{
            background: url(../images/backgrounds/section-modes.png) top no-repeat ;
            width: 100%;
            height: 600px;
            .modes__container{
                max-width: 1140px;
                margin: 0 auto;
                .modes{
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    justify-content: space-around;
                    .pvp{
                        width: 500px;
                        height: 400px;
                        background-color: #12F0F0;
                        border-radius: 30px;
                        padding: 20px;
                        display: flex;
                        flex-direction: row;
                        .platform{
                            .left__side{
                                .pvp__mode{
                                    display: flex;
                                    gap: 30px;
                                    h1{
                                        font-size: 32px;
                                    }
                                }
                                p{
                                    max-width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}